* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 20vh;
  font-size: 50px;
  /* background-color: red; */
}

header h1 {
  background: -webkit-linear-gradient(bottom right, #f59a08, #c10c0c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main .test-intro {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: cursive;

  font-size: 20px;
}

main .test-intro .highlighted-words {
  background: -webkit-linear-gradient(green, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main .button-container {
  display: flex;
  justify-content: center;
  /* background-color: black; */
}

main .button-container button {
  /* margin-top: 3%;
  margin-bottom: 3%; */

  background: #470000;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

main .button-container button a {
  text-decoration: none;
}

main .button-container button span {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: -webkit-radial-gradient(#ff0000, #910101);

  color: white;
  font-family: Arial, Helvetica, sans-serif;
  transform: translateY(-6px);
  font-weight: 700;
}

main .button-container button span:hover {
  color: black;
}

main .button-container button:active span {
  transform: translateY(-2px);
}

main .first-button {
  position: absolute;
  left: 5%;
  top: 50%;
}

main .second-button {
  position: absolute;
  right: 5%;
  top: 50%;
}

main .third-button {
  position: absolute;
  right: 37%;
  top: 75%;
}
